@import "./reset";
@import "./config";

.App {
  width: 100vw;
  height: 100vh;
  background-image: url("./Assets/charles-mulligans-steak-house_art1.jpg");

  display: flex;
  justify-content: center;
  align-items: center;

  .get-quote-container {
    width: 90%;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: space-around; //This doesn't seem to be doing anything.

    img {
      width: 30%;
      border: 3px solid goldenrod;
      border-radius: 50%;
    }

    .get-quote-sub-container {
      background: #c0c0c0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 50%;
      height: 55%;
      border: 1px solid black;
      border-radius: 5px;

      .size-selection-container {
        background: $txtBxBkGrnd;
        width: 90%;
        height: 35%;
        padding: 15px;
        border-radius: 3px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        select {
          margin: 5px 0 1em 0;
        }
      }

      .divider {
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
        z-index: 2;
      }
      
      .wisdom-container {
        background: $txtBxBkGrnd;
        width: 90%;
        height: 35%;
        padding: 0 15px;
        border-radius: 3px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }
}
